
body {
    margin: 0;
}

/*style nav bar start*/
li {
    list-style-type: none;
    cursor: pointer;
    margin: 0 2vw;
    font-size: 3vh;
    margin-top: 3vh;
}

li a{
    text-decoration: none;
    padding: 0.2vw;
    Font-Family: 'Roboto', Sans-Serif;
    font-size: 21px;
    color: white;
}

nav {
    width: 100vw;
    background-color: rgb(15, 15, 15);
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarsection {
    background-color: rgb(15, 15, 15);
    height: 8vh;
}
/*style nav bar end*/

input {
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 24px;
    margin-top: 30px;

}

label {
    Font-Family: 'Roboto', Sans-Serif;
    font-size: 30px;
    margin-top: 70px;

}

#next, #zipform{
    text-align: center;
}

#zipform {
    margin-top: 120px;
}

#next a{
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 22px;
    cursor: pointer;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #409fbf;
    margin: 0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
    margin-top: 30px;
    border-radius: 25px;

}

#next a:hover {
    color:white;
    background-color: #409fbf;

}

#errormsg {
    display: none;
    color: red;
    font-family: 'Roboto', sans-serif;
    margin-top: 3px;
}

#footer {
    background-color: rgb(15, 15, 15);
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer * {
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 8vh;
    margin-bottom: 0;
    text-align: center;

}

#footer div{
    padding: 3px 0;
}
