body {
    margin: 0;
}

/*style nav bar start*/
li {
    list-style-type: none;
    cursor: pointer;
    margin: 0 2vw;
    font-size: 3vh;
    margin-top: 3vh;
}

li a{
    text-decoration: none;
    padding: 0.2vw;
    Font-Family: 'Roboto', Sans-Serif;
    font-size: 21px;
    color: white;
}

nav {
    width: 100vw;
    background-color: rgb(15, 15, 15);
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

#navportion {
    background-color: rgb(15, 15, 15);
    height: 8vh;
    margin: 0;
}
/*style nav bar end*/
