<link rel="stylesheet" type='text/css' href="/css/error.css">
<p id='info_error_msg'>{{header}}</p>
<div id="back_button"><a href="http://localhost:5500/start.html">Back to Form</a></div>
<section id='footer'>
    <div>
        <p>
            Have questions or comments? Email us at 
            <a id='email' href="mailto: help@safestate.com">help@safestate.com</a> 
        </p>
    </div>
</section>
