<link rel="stylesheet" type='text/css' href="/css/error.css">
<p id='error_msg'>Error 500</p>
<section id='footer'>
    <div>
        <p>Have questions or comments? Email us at <a id='email' href="mailto: help@safestate.com">help@safestate.com</a> or call <a id='phone' href="tel: 555-555-5555">555-555-5555</a></p>
    </div>
</section>
